@import "~shared/view/styles/mixins";

.session-expiration {
  width: 20.2857rem;

  &__clock {
    height: 5.1429rem;
    margin: 0 auto;
    margin-top: 2.4286rem;
    background: url('./img/clock.svg') no-repeat;
    background-position: center;
  }

  &__title {
    margin-top: 2.0714rem;
    text-align: center;
    font-size: 0.7857rem;

    @include themed('color', 'main-text-color');
  }

  &__timer {
    display: flex;
    margin-top: 1.1429rem;
    font-size: 2.2857rem;
    font-weight: 300;
    justify-content: center;

    @include themed('color', 'main-text-color');
  }

  &__button {
    width: 15rem;
    padding: 1.3rem 0;
    margin: auto;
  }
}
