@import "~shared/view/styles/variables";

.announcement-bar {
  &__wrapper {
    padding: 0 1.429rem;
    overflow-y: scroll;
    margin-top: -0.357rem;
  }

  &__items {
    margin: 0 0 0 -10px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
  }

  &__item {
    min-width: 20rem;
    padding-right: 0.714rem;
    flex: 0 0 25%;
    flex-grow: 1;
    word-break: break-all;
  }

  &__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}
