.orders-history-settings {
  &__visible-rows-field {
    width: 14.29rem;
  }

  &__column-check {
    &-section {
      display: flex;
      flex-flow: wrap;
    }

    &-element {
      display: flex;
      width: 50%;
      padding: 0.5rem 0;
    }
  }
}
