@font-face {
  font-family: 'Work Sans';
  font-weight: 900;
  font-style: normal;
  src:
    url("./fonts/WorkSans/WorkSans-Black.woff") format("woff"),
    url("./fonts/WorkSans/WorkSans-Black.woff2") format("woff2"),
    url("./fonts/WorkSans/WorkSans-Black.ttf") format("truetype");
}

// @font-face {
//   font-family: 'Work Sans';
//   font-weight: 800;
//   font-style: normal;
//   src:
//     url("./fonts/WorkSans/WorkSans-ExtraBold.woff") format("woff"),
//     url("./fonts/WorkSans/WorkSans-ExtraBold.woff2") format("woff2"),
//     url("./fonts/WorkSans/WorkSans-ExtraBold.ttf") format("truetype");
// }

@font-face {
  font-family: 'Work Sans';
  font-weight: 700;
  font-style: normal;
  src:
    url("./fonts/WorkSans/WorkSans-Bold.woff") format("woff"),
    url("./fonts/WorkSans/WorkSans-Bold.woff2") format("woff2"),
    url("./fonts/WorkSans/WorkSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 600;
  font-style: normal;
  src:
    url("./fonts/WorkSans/WorkSans-SemiBold.woff") format("woff"),
    url("./fonts/WorkSans/WorkSans-SemiBold.woff2") format("woff2"),
    url("./fonts/WorkSans/WorkSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 500;
  font-style: normal;
  src:
    url("./fonts/WorkSans/WorkSans-Medium.woff") format("woff"),
    url("./fonts/WorkSans/WorkSans-Medium.woff2") format("woff2"),
    url("./fonts/WorkSans/WorkSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 400;
  font-style: normal;
  src:
    url("./fonts/WorkSans/WorkSans-Regular.woff") format("woff"),
    url("./fonts/WorkSans/WorkSans-Regular.woff2") format("woff2"),
    url("./fonts/WorkSans/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 300;
  font-style: normal;
  src:
    url("./fonts/WorkSans/WorkSans-Light.woff") format("woff"),
    url("./fonts/WorkSans/WorkSans-Light.woff2") format("woff2"),
    url("./fonts/WorkSans/WorkSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 200;
  font-style: normal;
  src:
    url("./fonts/WorkSans/WorkSans-ExtraLight.woff") format("woff"),
    url("./fonts/WorkSans/WorkSans-ExtraLight.woff2") format("woff2"),
    url("./fonts/WorkSans/WorkSans-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 100;
  font-style: normal;
  src:
    url("./fonts/WorkSans/WorkSans-Thin.woff") format("woff"),
    url("./fonts/WorkSans/WorkSans-Thin.woff2") format("woff2"),
    url("./fonts/WorkSans/WorkSans-Thin.ttf") format("truetype");
}
