@import "src/shared/view/styles/mixins";

.edit-market {
  display: flex;
  flex-direction: column;
  width: 25.574rem;
  min-height: 19.429rem;
  padding: 2rem 2rem 1rem;

  @include themed('color', 'main-text-color');

  &__controls {
    display: flex;
    flex: 0.7;
    justify-content: flex-end;
  }

  &__button {
    width: 7.1429rem;
    margin-left: 1.5rem;
  }
}
