<div class="scxNavigation">
    <div>
        <span class="scxNavigation-btn scxNavigation-btn-scrollToFirst scx-icon icon-scroll-start"></span>
        <span class="scxNavigation-btn scxNavigation-btn-scrollLeft scx-icon icon-scroll-left"></span>
        <span class="scxNavigation-btn scxNavigation-btn-zoomOut scx-icon icon-zoom-out"></span>
        <span class="scxNavigation-btn scxNavigation-btn-zoomIn scx-icon icon-zoom-in"></span>
        <span class="scxNavigation-btn scxNavigation-btn-scrollRight scx-icon icon-scroll-right"></span>
        <span class="scxNavigation-btn scxNavigation-btn-scrollToLast scx-icon icon-scroll-end"></span>
    </div>
</div>