@import "src/shared/view/styles/mixins";

$copyButtonSize: 2.5rem;
$copyButtonSpace: 0.8rem;

.secret-key-panel {
  padding: 1.3rem 2.3rem;
  max-width: 40rem;

  @include mobile {
    width: 100%;
    padding: 1rem 1.5rem;
  }

  @include themed('color', 'main-text-color');

  &__body {
    display: flex;
    padding: 0.72rem;
    flex-direction: column;
  }

  &__value {
    padding: 0 0.72rem;

    @include mobile {
      flex-basis: calc(100% - #{$copyButtonSize} - #{$copyButtonSpace});
      padding: 0.36rem $copyButtonSpace 0 0;
    }
  }

  &__label {
    @include themed('color', 'headline-1-color');

    @include mobile {
      flex-basis: 100%;
    }
  }

  &__submit {
    width: 5.71rem;
    align-self: center;

    @include mobile {
      width: 100%;
      margin-top: 1rem;
    }
  }

  &__paragraph {
    display: flex;
    align-items: center;
    margin-bottom: 1.57rem;

    @include mobile {
      flex-wrap: wrap;
    }
  }

  &__copy-btn {
    width: $copyButtonSize;
    margin-left: auto;
    flex-shrink: 0;
  }

  &__btn-icon {
    width: 1.3rem;
    height: 1.3rem;

    & g {
      @include themed('fill', 'tooltip-background-color');
    }
  }
}
