@import "~shared/view/styles/variables";

.password-recovery-form {
  width: 100%;

  &__button {
    margin-top: 2.143rem;
  }

  &__captcha {
    display: flex;
    padding-top: 1.786rem;
    justify-content: center;
  }

  &__error-section {
    padding-top: 1.429rem;
  }

  &__attempts {
    padding-top: 0.429rem;
  }
}
