@import 'src/shared/view/styles/mixins';

$horizontal-margin: 0.5rem;

.last-price {
  $r: &;

  &_widget-type {
    &_vertical {
      min-height: 2.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      @include themed('background-color', 'order-book-inline-price-background-color');

      #{$r}__value {
        font-size: 1.17rem;
        font-weight: 500;
      }

      #{$r}__converted-value {
        font-size: 0.95rem;
        font-weight: 400;

        @include themed('color', 'order-book-header-color');
      }
    }
  }

  &__value {
    margin-left: $horizontal-margin;
    font-size: 1.3429rem;

    @include mobile {
      font-size: 0.929rem;
    }

    &_change {
      &_increased {
        @include themed('color', 'order-book-bid-color');

        polygon {
          @include themed('fill', 'main-green-color');
        }
      }

      &_decreased {
        @include themed('color', 'order-book-ask-color');

        polygon {
          @include themed('fill', 'main-red-color');
        }
      }
    }
  }

  &__converted-value {
    margin-left: $horizontal-margin;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;

    @include mobile {
      font-size: 0.857rem;
    }
  }

  &__arrow {
    flex-shrink: 0;
    width: 0.6rem;
    height: 1rem;
    margin-left: 0.2rem;
  }
}
