$black: #20212c;
$black-darkest: #000;

$white: #fff;

$grey-lightest: #fafbfc;
$grey-light: #e6eaee;
$grey-33: #333;
$grey-e3: #e3e3e3;
$grey-f1: #f1f1f1;

$grey-blue-lightest: #bdc2cf;
$grey-blue-light: #7e849e;
$grey-blue: #8b90a2;

$grayish-blue: #a5a9b8;

$grey-blue-dark: #4c4c68;
$grey-blue-darkest: #354052;
$red-light: #f04258;
$red: #df2b41;
$red-dark: #cf2238;
$red-light-transparent: rgba(223, 42, 65, 0.4);
$red-transparent: rgba(223, 42, 65, 0.25);

$green-light: #00c94b;
$green: #00b142;
$green-dark: #00a23d;
$green-light-transparent: rgba(0, 261, 102, 0.25);
$green-transparent: rgba(0, 177, 66, 0.35);
$green-dark-transparent: rgba(0, 177, 66, 0.5);

$blue-light: #0098d8;
$blue: #1181d6;
$blue-dark: #1f80c0;

$yellow: #fec734;
$yellow-transparent: rgba(254, 199, 52, 0.25);

$shadow: 0 0 20px rgba(240, 240, 240, 0.9), 0 0 3px rgba(204, 204, 204, 0.85);
$webkit-input-auto-fill-color: inset 0 0 0 1.286rem #fff;
