$black-lightest: #282838;
$black-light: #20202f;
$black: #181824;
$black-dark: #14141f;
$black-darkest: #000;
$black-transparent: rgba(33, 33, 33, 0.9);

$white: #fff;

$grey-b3: #b3b3b3;
$grey-63: #636363;
$grey-dark: #7f8a94;
$grey-e3: #e3e3e3;

$blue-transparent: rgba(0, 152, 216, 0.5);
$blue-light: #40a3e6;
$blue: #0098d8;
$blue-dark: #1f80c0;

$grey-blue-light: #9996aa;
$grey-blue: #4c4c68;
$grey-blue-dark: #2d2f3c;

$red-light: #fb655c;
$red: #fb5d54;
$red-dark: #d84840;
$red-darkest: #9b2922;
$red-light-transparent: rgba(251, 93, 84, 0.4);
$red-transparent: rgba(251, 93, 84, 0.25);

$green-light: #0dc09f;
$green: #00bd9a;
$green-dark: #009277;
$green-light-transparent: rgba(0, 189, 154, 0.5);
$green-transparent: rgba(0, 189, 154, 0.25);

$yellow: #fec734;
$yellow-transparent: rgba(254, 199, 52, 0.25);

$shadow: 0 0 20px $black-transparent, 0 0 3px $black-transparent;
$webkit-input-auto-fill-color: inset 0 0 0 1.286rem $black-dark;
