$white: #fff;

$black: rgba(255, 255, 255, 0.05);

$grey-light: #fcfcfc;
$grey: #e5e5e5;
$grey-dark: #999;
$grey-e3: #e3e3e3;

$cyan-lightest: #c4edfb;
$cyan-light: #35eaed;
$cyan: #2accce;
$cyan-dark: #19b9bb;
$cyan-darkest: #109a9c;
$cyan-black: #0c8a8c;
$cyan-transparent: rgba(53, 234, 237, 0.4);

$sky-blue-dim: #4097b6;
$sky-blue-light: #40a3e6;
$sky-blue: #0098d8;
$sky-blue-dark: #1f80c0;
$sky-blue-darkest: #035981;
$sky-blue-transparent: rgba(0, 152, 216, 0.25);

$grey-blue-light: #97c4d4;
$grey-blue: #37768d;
$grey-blue-dark: #3e7588;
$grey-blue-darkest: #366b7c;

$black-blue-light: #053444;
$black-blue: #071b2c;

$midnight-blue-lightest: #125a72;
$midnight-blue-light: #07526c;
$midnight-blue: #044b64;
$midnight-blue-dark: #00506d;
$midnight-blue-darkest: #00435b;

$pink-lightest: #ff56a7;
$pink-light: #f0559f;
$pink: #d53c85;
$pink-dark: #b92e71;
$pink-darkest: #af2b6b;
$pink-transparent: rgba(171, 61, 124, 0.75);
$pink-dark-transparent: rgba(240, 85, 159, 0.25);

$shadow: 0 0 20px rgba(240, 240, 240, 0), 0 0 3px rgba(204, 204, 204, 0);
$webkit-input-auto-fill-color: inset 0 0 0 1.286rem $midnight-blue;
