@import 'src/shared/view/styles/mixins';

.m-order-history {
  &__table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }

  &__table-cell {
    &-main-content {
      font-weight: 500;
    }

    &-sub-content {
      text-transform: capitalize;
      font-size: 0.9rem;

      @include themed('color', 'secondary-text-color');
    }
  }

  &__sell {
    @include themed('color', 'main-red-color');
  }

  &__buy {
    @include themed('color', 'main-green-color');
  }
}
