@import "~shared/view/styles/variables";
@import "src/shared/view/styles/mixins";

.estimated-value {
  height: 100%;
  display: flex;
  justify-content: space-around;

  &__title {
    margin: 0.7143rem 0;
    text-transform: uppercase;
    color: #7e849e;
  }

  &__legend {
    &-header {
      margin-bottom: 0.8rem;
      padding-bottom: 0.2rem;
      color: #7e849e;
      border-bottom: 1px solid $color-light-grey;
      font-size: 1.2rem;
    }
  }
}
